.caja{
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHBvcnRmb2xpbyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    margin: 10px;
}
.menulista{
    width: 70%;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    color: white;
}
