.proyectos{
    padding: 3rem;
    text-align: center;
    background: rgb(58, 113, 71);
}
.proyectostip{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    flex-direction: row;
    border-radius: 40px;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-style: italic;
}
.tipoproyectos{
    display: flex;
    flex-direction: column;
}
.proyecto_recursos{
    width: 50%;
    flex-direction: column;
    padding: 1rem;
}
a{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}